extends layout

block content
    if card
        h1 #{card.question}!
        p Here are your full details:
        pre= JSON.stringify(card, null, 2)
    else
        h1 There's no such card!
    script.
        console.log(!{JSON.stringify(card)})
